*{
    padding:0;
    margin :0;
    box-sizing : border;
}

.logo h1{
    color:#54BD95;
    font-family: inter;
    font-size: 50px;
    width : 600;
    line-height: 30px;
    font-size: 50px;

}
.Wrapper{
    padding:50px 150px;

}
.navBar{
    display:flex;
    justify-content: space-between;
    height: 50px;
    align-content: center;
    padding : -20 59px;

}
.navLinks ul {
    justify-content:space-between;
    width :508px;
    display :flex;
    align-items : center;
    height: 22px;
    left: 629;
    list-style: none;
    

}

/* .homelink{
    text-decoration: none;
    color: #000000;
}  */

.navLinks ul a{
    text-decoration: none;
    color: #A6A6A6;
} 

.rightNav{
    display:flex;
    justify-content: center;
    width :60px;
    justify-content: space-between;

}

.signupbutton{
    color: #F8F8FA;
    width: 80px;
    height: 40px;
    background-color: #54BD95;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    
}
.Login li {
    padding-top: 10px;
    list-style: none;
    width: 55px;

}
.Login li a{
    color: #A6A6A6;
    text-decoration: none;
}
.hero{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

    
}
.tineyText{
    font-size: 18px;
    font-weight : 400px;
    width: 461px;

}
.heroLargeText H1 {
    font-size:80px;
    line-height: 90px;
    Width :555px;
    Height :270px;
    Top :64px;
    Font : inter;
    Size :80px;
    Line-height :90px;
    Letter-spacing :0%

} 
.smallImage{
    Width :479px;
    Height :26px;
    Top : 364px;
    Border :8px;
    

}
#lineimage{
    Width :479px;
    Height :26px;
    Top : 364px;
    Border :8px;

}
.heroImage{
    Width :701.68px;
    Height : 558.99px;
    Top : 32px;
    Left :611px;
}
.LowerImages{
    display: flex;
}
.TrialBotton{
    color: #F8F8FA;
    background-color: #54BD95;
    border: none;
    border-radius: 40px;
    Height : 42px;
    font-size: 14px;
    Width : 165px;
    Height: 62px;

    Top :580px;
    Radius :40px;

}
#collab{
    Width :720px;
    Height :48px;
    Top : 918px;

    Font : Inter;
    font-Size :40px;
    Line-height: 100%;
    margin: 0% auto;

}

.fivelogos{
    display :flex;
    justify-content: center;
    gap : 45px;
    padding-top :80px;
    padding-right: 40px;
    padding-bottom: 50px ;
    
}
.whiteBoard{
    Width :1440px;
    Height :541px;
    Top :1194px;
    background-color: #F9F8FE;
}
.supportText h5{
    Width:617px;
    Height:122px;
    Top :1254px;
    Left : 130px;

    /* Font:; */
    font-Size:50px;
    Line-height:100%;
}
.saasText{
    color:#A6A6A6;
    Width:644px;
    Height:90px;
    Top :1406px;
    Left:130px;

    font-Size:10px;
    Line-height : 30px;
    Letter-spacing:0%;

}
.demoText p{
    padding-top : 20px;
}
#playpng{
    padding-top: 10px;
}
.playImage{
    padding-left: 30px;
}
.demoText{
    padding-left: 5px;
}

